<div class="container-fluid">
  <div>
    <table>
      <tr>
        <td colspan="3"><input type="text" value="{{expr}}" (keyup)="changeExpression($event)"></td>
      </tr>
      <tr>
        <td><button (click)="addToExpression(7)">7</button></td>
        <td><button (click)="addToExpression(8)">8</button></td>
        <td><button (click)="addToExpression(9)">9</button></td>
      </tr>
      <tr>
        <td><button (click)="addToExpression(4)">4</button></td>
        <td><button (click)="addToExpression(5)">5</button></td>
        <td><button (click)="addToExpression(6)">6</button></td>
      </tr>
      <tr>
        <td><button (click)="addToExpression(1)">1</button></td>
        <td><button (click)="addToExpression(2)">2</button></td>
        <td><button (click)="addToExpression(3)">3</button></td>
      </tr>
      <tr>
        <td></td>
        <td><button (click)="addToExpression(0)">0</button></td>
        <td></td>
      </tr>
    </table>
    <input type="submit" id="submit" (click)="evaluateExpression()">
    <p id="output">{{answer}}</p>
  </div>
</div>
