<div class="bmd-layout-container bmd-drawer-f-l bmd-drawer-overlay" style="height: 100vh;">
	<header class="bmd-layout-header">
		<div class="navbar navbar-light bg-light" style="margin-bottom: 2rem;">
			<button class="navbar-toggler" type="button" data-toggle="drawer" data-target="#dw-p1">
				<span class="sr-only">Toggle drawer</span>
				<i class="material-icons">menu</i>
			</button>
			<ul class="nav navbar-nav">
				<li class="nav-item"><img src="../../assets/calc_logo.png"  width="30" height="30"></li>
			</ul>
		</div>
	</header>
	<div id="dw-p1" class="bmd-layout-drawer bg-light">
		<header>
			<a class="navbar-brand"><img src="../../assets/calc_logo.png"  width="30" height="30"> Calculator</a>
		</header>
		<ul class="list-group">
			<a class="list-group-item">Cool Feature</a>
			<a class="list-group-item">Another Cool Feature</a>
			<a class="list-group-item">Feature</a>
		</ul>
	</div>
	<main class="bmd-layout-content">
		<div class="container">
			<!-- main content -->
			<app-calculator></app-calculator>
		</div>
	</main>
</div>